@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Configuración de fuente y modo oscuro para el cuerpo */
  body {
    /* Aplica un fondo gris claro o negro y transiciones para el modo oscuro */
    @apply bg-gray-100 text-gray-900 dark:bg-black dark:text-gray-100 antialiased font-sans transition-colors duration-300;
  }

  /* Asegura que el contenedor raíz (#root) ocupe toda la altura */
  #root {
    @apply min-h-screen flex flex-col;
  }
}
